@media only screen and (min-width: 425px) {

    main {
        margin: auto;
        text-align: center;
        background-color: white;
    }

    .menu {
        list-style: none;
        text-align: center;
        padding: 0;
        font-size: 2em;
        background-color: lightblue;
    }

    th {
        background-color: skyblue;
        color: slateblue;
    }

    td {
        font: bold;
    }

    #top-section {
        display: block;
    }

    #weather-summary-box {
        display: block;
        top: 1em;
        left: 1em;
        border: solid 5px;
        padding: 20px;
        background-color: lightblue;
    }

    #hero-image {
        width: 100%;
    }

    #events {
        background-color: lightblue;
        padding: 1em;
        margin: 1em;
        font-weight: bold;
        text-align: center;
    }

    .menu li:first-child {
        display: block;
    }

    .menu li {
        font-size: 0.7em;
        display: none;
        flex: 1 1 100%;
    }

    .menuEdit li {
        display: block;
        padding: 0.5em;
    }

    .active {
        background-color: slateblue;
        color: skyblue;
    }

    header {
        width: 100%;
        background-color: lightblue;
        padding-bottom: 20px;
        padding-top: 5px;
    }

    header img {
        width: 50px;
        height: auto;
        border-radius: 30px;
        align-items: center;
        justify-content: center;
    }

    .text-info {
        text-align: left;
    }

    .images {
        width: 40%;
        height: auto;

    }

    #grid-for-form {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    #city {
        text-align: center;
    }

    #five-day-forecast {
        max-width: 400px;
        text-align: center;
        background-color: darkgray;
    }

    .website-info {
        display: flex;
        flex-direction: column;
    }

    .general-information {
        margin: auto;
        width: 100%;
        display: block;
        font-size: 1em;
        margin-top: 20px;

    }

    .article-section {
        margin-top: 2em;
        width: 100% - padding;
        background-color: lightblue;
        border: 2px solid lightblue;
        padding: 1em;
    }

    #article-image {
        max-width: 100%;
        height: 10em;
    }

    .sun-icon {
        max-width: 100%;
        height: 20px;
    }

    #five-day-forecast-table {
        margin-left: auto;
        margin-right: auto;
        background-color: white;
    }

    #five-day-forecast {
        text-align: center;
        background-color: skyblue;
    }

    .five-day-forecast-pictures {
        height: 20px;
        width: 100%;
    }

    #end-image {
        padding: 1em;
        max-width: 100%;
        height: 10em;
    }

    nav ul {
        list-style-type: none;
    }

    .menu_enabler {
        display: block;
    }

    footer {
        width: 100%;
        background-color: skyblue;
    }

    a {
        display: block;
        background-color: skyblue;
        text-decoration: none;
        border-color: skyblue;
    }

    a:hover,
    a:active {
        background-color: slateblue;
        color: skyblue;
    }
}