@media only screen and (min-width: 400px) {
    main {
        margin: auto;
        text-align: center;
        background-color: lightblue;
    }

    .website-info {
        text-align: center;
    }

    .website-info #logo-icon {
        margin-bottom: -5em;
    }

    .menu {
        list-style: none;
        text-align: center;
        padding: 0;
        font-size: 2em;
        background-color: lightblue;
    }

    nav {
        padding-top: 0.1em;
    }

    .active {
        background-color: slateblue;
        color: skyblue;
    }

    #top-section {
        display: float;
    }

    .menu li:first-child {
        display: block;
    }

    .menu li {
        display: none;
        flex: 1 1 100%;
    }

    .menuEdit li {
        display: block;
        padding: 0.5em;
    }

    header {
        width: 100%;
        background-color: lightblue;
        padding-bottom: 20px;
        padding-top: 5px;
    }

    header img {
        width: 50px;
        height: auto;
        border-radius: 30px;
        align-items: center;
        justify-content: center;
    }

    .town-group {
        display: grid;
        grid-template-columns: auto;
        background-color: lightblue;
    }

    #h1 {
        color: orange;
        margin-bottom: -0.7em;
    }

    #motto {
        color: black;
    }

    p {
        color: rgb(58, 58, 233)
    }

    img {
        max-width: 20em;
        padding-bottom: 5em;
    }






    .text-info {
        text-align: left;
    }

    .sun-icon {
        max-width: 100%;
        height: 20px;
    }


    #logo-icon {
        text-align: center;
    }

    #end-image {
        padding: 1em;
        max-width: 100%;
        height: 10em;
    }

    nav ul {
        list-style-type: none;
    }

    .menu_enabler {
        display: block;
    }

    footer {
        width: 100%;
        background-color: skyblue;

    }

    footer p {
        color: black;
        text-align: center;
    }

    #site-contact-info p {
        color: black;
    }

    a {
        display: block;
        background-color: skyblue;
        text-decoration: none;
        border-color: skyblue;
    }

    a:hover,
    a:active {
        background-color: slateblue;
        color: skyblue;
    }

}