@media only screen and (min-width: 768px) {

    /* comment */
    main {
        margin: auto;
        max-width: 800px;
        background-color: white;
    }

    .website-info {
        text-align: center;
    }

    header {
        width: 100%;
        background-color: lightblue;
        padding-bottom: 20px;
        padding-top: 5px;
    }

    th {
        background-color: skyblue;
        color: slateblue;
    }

    header img {
        width: 50px;
        padding-left: 0em;
    }

    a {
        background-color: skyblue;
        margin-top: -1.5em;

    }

    a:hover {
        background-color: slateblue;
        color: skyblue;
    }

    .active {
        background-color: slateblue;
        color: skyblue;
    }

    #top-section {
        position: relative;
    }

    #weather-summary-box {
        position: absolute;
        top: 1em;
        left: 1em;
        border: solid 5px;
        padding: 20px;
        background-color: lightblue;
    }

    #hero-image {
        width: 100%;
    }

    #events {
        background-color: lightblue;
        padding: 1em;
        margin: 1em;
        font-weight: bold;
        text-align: center;
    }

    .article-section {
        margin-top: 2em;
        width: 100% - padding;
        background-color: lightblue;
        border: 2px solid lightblue;
        padding: 1em;
    }

    #article-image {
        max-width: 100%;
        height: 10em;
        float: right;
    }

    .general-information {
        margin: auto;
        width: 100%;
        display: block;
        font-size: 1em;
        margin-top: 20px;
    }

    .menu li:first-child {
        display: none;
    }

    .menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        background-color: lightblue;
    }

    .menu li {
        display: block;
        list-style: none;
        font-size: 0.7em;
        background-color: lightblue;

    }

    .sun-icon {
        max-width: 100%;
        height: 20px;
    }

    #five-day-forecast-table {
        margin-left: auto;
        margin-right: auto;
        background-color: white;
    }

    #five-day-forecast {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        background-color: skyblue;
    }

    .five-day-forecast-pictures {
        height: 20px;
        width: 100%;
    }

    #logo {
        background-color: lightblue;
    }

    #city {
        text-align: center;
        margin-top: -0.5em;
    }

    #contact-info {
        grid-column: 2/3;
    }

    #site-info {
        margin-top: 2em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: lightblue;
    }

    #end-image {
        padding: 1em;
        margin-left: 2em;
        grid-column: 1/2;
        max-width: 100%;
        height: 10em;
    }

    footer p {
        width: 100%;
        background-color: lightblue;
        font-size: 1em;
        text-align: center;
    }
}